/* Organized As Such:
    - General, 
    - Not Authed Containers,     
    - Authed Container Header, 
    - Authed Container Body, 
    - Text Inputs 
*/

/* General */
html,
body {
  max-width: 300px;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: #000;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
button:focus {
  outline: none;
}

#app {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  background: #efefef;
  height: 100vh;
}
.section-title {
  width: 100%;
  text-align: center;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.back-button button {
  font-size: 14px;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #878787;
  border: none;
  padding: 20px 40px;
}
.back-button button:hover {
  color: #086dd1;
}
.d-block {
  display: block;
}
.mt-15 {
  margin-top: 15px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-30 {
  margin-bottom: 30px;
}

/* Not Authed Containers */
#landing {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #086dd1;
  padding: 15px;
}
#login {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}
#signup {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}
.hello-user {
  display: block;
  text-align: center;
  color: white;
}

/* Authed Container Header */
#header {
  display: flex;
  width: 100%;
  height: 50px;
  padding: 0;
  background: #1161b0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 50;
}
#header nav {
  flex: 1;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
#header .img-container {
  max-width: 25px;
  max-height: 25px;
  opacity: 0.5;
}
#header .img-container-active {
  max-width: 25px;
  max-height: 25px;
}
#header img {
  height: auto;
  width: 100%;
}
.header-btn {
  flex: 1;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header-btn-active {
  flex: 1;
  display: flex;
  height: 100%;
  background: #086dd1;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Authed Container Body */
#content-body {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* Text Inputs */
.input-field {
  display: flex;
  flex-direction: column;
}
.input-field label {
  display: block;
  font-size: 14px;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-bottom: 8px;
}
.input-field input {
  border: solid 1px #878787;
  padding: 8px 10px;
  font-size: 14px;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  color: #444;
}
.input-field textarea {
  border: solid 1px #878787;
  padding: 8px 10px;
  font-size: 14px;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  color: #444;
}
.submit-field {
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit-field button {
  background-color: #fff;
  font-size: 14px;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #878787;
  border: solid 2px #878787;
  border-radius: 40px;
  padding: 10px 40px;
}
.submit-field button:hover {
  background-color: #878787;
  color: #ffffff;
  border: solid 2px #ffffff;
}
.secondary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondary-btn button {
  font-size: 14px;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #878787;
  border: none;
  padding: 10px 40px;
}
.secondary-btn button:hover {
  color: #086dd1;
}
